@tailwind base;
@tailwind components;
@tailwind utilities;
/* Sidebar link base styles */
.sidebar-link {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    border-radius: 0.375rem;
    color: #4A5568;
}

.sidebar-link:hover {
    color: #2C7A7B;
}

.card {
    
}